src/main/resources/xsd/todos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://todoapp.com/ws"
           targetNamespace="http://todoapp.com/ws"
           elementFormDefault="qualified">

    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="todo">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="task" type="xs:string"/>
            <xs:element name="done" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getTodosRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTodosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="todos" type="tns:todo" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addTodoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="task" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addTodoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="todo" type="tns:todo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateTodoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="todo" type="tns:todo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateTodoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="todo" type="tns:todo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteTodoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteTodoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>